# Environment variables with sensitive data
.env

# Runtime configuration files
telegraf/telegraf-*-runtime.conf

# Data directories
mosquitto/data/
mosquitto/log/
influxdb/
grafana/*
!grafana/provisioning/
grafana/provisioning/datasources

# Generated password files
mosquitto/config/passwd
mosquitto/config/passwd_temp

# I don't know, it spawned
cookies.txt
